---
import siteConfig from '~/site.config'

const r = siteConfig.remark42
if (!r) {
  throw new Error('Remark42 configuration is missing in site.config.ts')
}
const host = r.host
const siteId = r.site_id
const components = r.components && r.components.length > 0 ? r.components : ['embed']
const componentName = components[0]
const remarkConfigJson = JSON.stringify({ host, site_id: siteId, components })
const embedMjs = `${host}/web/${componentName}.mjs`
const embedJs = `${host}/web/${componentName}.js`
---

<!-- 1) Global config -->
<script is:inline>
  {`// Sadece bu iki değeri değiştireceksin: host ve site_id\nwindow.remark_config = ${remarkConfigJson};`}
</script>

<!-- 2) Loader: ES module ve nomodule için ayrı scriptler -->
<script type="module" defer async src={embedMjs}></script>
<script nomodule defer async src={embedJs}></script>

<!-- 3) Yorumların görüneceği yer -->
<div id="remark42"></div>
